---
---

@import "{{ site.theme }}";

/* Add your custom styles below */
.site-header {
  background-color: #2a76dd;
}

.site-title, .site-title:visited {
  color: white;
}

body {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
  color: #333366;
}